# Flight Price Prediction ( EDA and Feature Engineering )

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
train_df = pd.read_excel('Data_Train.xlsx')

In [3]:
train_df.head()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302

In [4]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10683 entries, 0 to 10682
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          10683 non-null  object
 1   Date_of_Journey  10683 non-null  object
 2   Source           10683 non-null  object
 3   Destination      10683 non-null  object
 4   Route            10682 non-null  object
 5   Dep_Time         10683 non-null  object
 6   Arrival_Time     10683 non-null  object
 7   Duration         10683 non-null  object
 8   Total_Stops      10682 non-null  object
 9   Additional_Info  10683 non-null  object
 10  Price            10683 non-null  int64
dtypes: int64(1), object(10)
memory usage: 918.2+ KB

In [5]:
test_df = pd.read_excel('Test_set.xlsx')

In [6]:
test_df.head()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info
0,Jet Airways,6/06/2019,Delhi,Cochin,DEL → BOM → COK,17:30,04:25 07 Jun,10h 55m,1 stop,No info
1,IndiGo,12/05/2019,Kolkata,Banglore,CCU → MAA → BLR,06:20,10:20,4h,1 stop,No info
2,Jet Airways,21/05/2019,Delhi,Cochin,DEL → BOM → COK,19:15,19:00 22 May,23h 45m,1 stop,In-flight meal not included
3,Multiple carriers,21/05/2019,Delhi,Cochin,DEL → BOM → COK,08:00,21:00,13h,1 stop,No info
4,Air Asia,24/06/2019,Banglore,Delhi,BLR → DEL,23:55,02:45 25 Jun,2h 50m,non-stop,No info

In [7]:
# combine train and test df
df = pd.concat([train_df,test_df])

In [8]:
df.shape

(13354, 11)

In [9]:
df.tail()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
2666,Air India,6/06/2019,Kolkata,Banglore,CCU → DEL → BLR,20:30,20:25 07 Jun,23h 55m,1 stop,No info,NaN
2667,IndiGo,27/03/2019,Kolkata,Banglore,CCU → BLR,14:20,16:55,2h 35m,non-stop,No info,NaN
2668,Jet Airways,6/03/2019,Delhi,Cochin,DEL → BOM → COK,21:50,04:25 07 Mar,6h 35m,1 stop,No info,NaN
2669,Air India,6/03/2019,Delhi,Cochin,DEL → BOM → COK,04:00,19:15,15h 15m,1 stop,No info,NaN
2670,Multiple carriers,15/06/2019,Delhi,Cochin,DEL → BOM → COK,04:55,19:15,14h 20m,1 stop,No info,NaN

In [10]:
# date of journey ---> object
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 13354 entries, 0 to 2670
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          13354 non-null  object
 1   Date_of_Journey  13354 non-null  object
 2   Source           13354 non-null  object
 3   Destination      13354 non-null  object
 4   Route            13353 non-null  object
 5   Dep_Time         13354 non-null  object
 6   Arrival_Time     13354 non-null  object
 7   Duration         13354 non-null  object
 8   Total_Stops      13353 non-null  object
 9   Additional_Info  13354 non-null  object
 10  Price            10683 non-null  float64
dtypes: float64(1), object(10)
memory usage: 1.2+ MB

In [11]:
df['Date_of_Journey'].str.split('/').str[0]

0       24
1        1
2        9
3       12
4       01
        ..
2666     6
2667    27
2668     6
2669     6
2670    15
Name: Date_of_Journey, Length: 13354, dtype: object

In [12]:
# splitting string on the basis of /
# df['Date'] = df['Date_of_Journey'].str.split('/').str[0]
# df['Month'] = df['Date_of_Journey'].str.split('/').str[1]
# df['Year'] = df['Date_of_Journey'].str.split('/').str[2]

In [13]:
df['Date_of_Journey'].apply(lambda x : x.split('/')[0])

0       24
1        1
2        9
3       12
4       01
        ..
2666     6
2667    27
2668     6
2669     6
2670    15
Name: Date_of_Journey, Length: 13354, dtype: object

In [14]:
# by using lambda
df['Date'] = df['Date_of_Journey'].apply(lambda x : x.split('/')[0])
df['Month'] = df['Date_of_Journey'].apply(lambda x : x.split('/')[1])
df['Year'] = df['Date_of_Journey'].apply(lambda x : x.split('/')[2])

In [15]:
df.head()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897.0,24,03,2019
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662.0,1,05,2019
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882.0,9,06,2019
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218.0,12,05,2019
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302.0,01,03,2019

In [16]:
# convert date time year into integer
df['Date'] = df['Date'].astype(int)
df['Month'] = df['Month'].astype(int)
df['Year'] = df['Year'].astype(int)

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 13354 entries, 0 to 2670
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          13354 non-null  object
 1   Date_of_Journey  13354 non-null  object
 2   Source           13354 non-null  object
 3   Destination      13354 non-null  object
 4   Route            13353 non-null  object
 5   Dep_Time         13354 non-null  object
 6   Arrival_Time     13354 non-null  object
 7   Duration         13354 non-null  object
 8   Total_Stops      13353 non-null  object
 9   Additional_Info  13354 non-null  object
 10  Price            10683 non-null  float64
 11  Date             13354 non-null  int64
 12  Month            13354 non-null  int64
 13  Year             13354 non-null  int64
dtypes: float64(1), int64(3), object(10)
memory usage: 2.0+ MB

In [18]:
df.drop(['Date_of_Journey'],axis=1,inplace=True)

In [19]:
df.head(3)

,Airline,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year
0,IndiGo,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897.0,24,3,2019
1,Air India,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662.0,1,5,2019
2,Jet Airways,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882.0,9,6,2019

In [20]:
# Arrival time
df['Arrival_Time'].apply(lambda x : x.split(' ')[0])

0       01:10
1       13:15
2       04:25
3       23:30
4       21:35
        ...
2666    20:25
2667    16:55
2668    04:25
2669    19:15
2670    19:15
Name: Arrival_Time, Length: 13354, dtype: object

In [21]:
df['Arrival_Time'] = df['Arrival_Time'].apply(lambda x : x.split(' ')[0])

In [22]:
df['Arrival_Time'].apply(lambda x : x.split(':')[0]) # arrival hour

0       01
1       13
2       04
3       23
4       21
        ..
2666    20
2667    16
2668    04
2669    19
2670    19
Name: Arrival_Time, Length: 13354, dtype: object

In [23]:
df['Arrival_Hour'] = df['Arrival_Time'].apply(lambda x : x.split(':')[0])

In [24]:
df['Arrival_Time'].apply(lambda x : x.split(':')[1]) # arrival minutes

0       10
1       15
2       25
3       30
4       35
        ..
2666    25
2667    55
2668    25
2669    15
2670    15
Name: Arrival_Time, Length: 13354, dtype: object

In [25]:
df['Arrival_Minutes'] = df['Arrival_Time'].apply(lambda x : x.split(':')[1])

In [26]:
df['Arrival_Hour'] = df['Arrival_Hour'].astype(int)
df['Arrival_Minutes'] = df['Arrival_Minutes'].astype(int)

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 13354 entries, 0 to 2670
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          13354 non-null  object
 1   Source           13354 non-null  object
 2   Destination      13354 non-null  object
 3   Route            13353 non-null  object
 4   Dep_Time         13354 non-null  object
 5   Arrival_Time     13354 non-null  object
 6   Duration         13354 non-null  object
 7   Total_Stops      13353 non-null  object
 8   Additional_Info  13354 non-null  object
 9   Price            10683 non-null  float64
 10  Date             13354 non-null  int64
 11  Month            13354 non-null  int64
 12  Year             13354 non-null  int64
 13  Arrival_Hour     13354 non-null  int64
 14  Arrival_Minutes  13354 non-null  int64
dtypes: float64(1), int64(5), object(9)
memory usage: 2.1+ MB

In [28]:
df.drop(['Arrival_Time'],axis=1,inplace=True)

In [29]:
df.head(10)

,Airline,Source,Destination,Route,Dep_Time,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year,Arrival_Hour,Arrival_Minutes
0,IndiGo,Banglore,New Delhi,BLR → DEL,22:20,2h 50m,non-stop,No info,3897.0,24,3,2019,1,10
1,Air India,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,7h 25m,2 stops,No info,7662.0,1,5,2019,13,15
2,Jet Airways,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,19h,2 stops,No info,13882.0,9,6,2019,4,25
3,IndiGo,Kolkata,Banglore,CCU → NAG → BLR,18:05,5h 25m,1 stop,No info,6218.0,12,5,2019,23,30
4,IndiGo,Banglore,New Delhi,BLR → NAG → DEL,16:50,4h 45m,1 stop,No info,13302.0,1,3,2019,21,35
5,SpiceJet,Kolkata,Banglore,CCU → BLR,09:00,2h 25m,non-stop,No info,3873.0,24,6,2019,11,25
6,Jet Airways,Banglore,New Delhi,BLR → BOM → DEL,18:55,15h 30m,1 stop,In-flight meal not included,11087.0,12,3,2019,10,25
7,Jet Airways,Banglore,New Delhi,BLR → BOM → DEL,08:00,21h 5m,1 stop,No info,22270.0,1,3,2019,5,5
8,Jet Airways,Banglore,New Delhi,BLR → BOM → DEL,08:55,25h 30m,1 stop,In-flight meal not included,11087.0,12,3,2019,10,25
9,Multiple carriers,Delhi,Cochin,DEL → BOM → COK,11:25,7h 50m,1 stop,No info,8625.0,27,5,2019,19,15

In [30]:
df['Dep_Time'].unique()

array(['22:20', '05:50', '09:25', '18:05', '16:50', '09:00', '18:55',
       '08:00', '08:55', '11:25', '09:45', '20:20', '11:40', '21:10',
       '17:15', '16:40', '08:45', '14:00', '20:15', '16:00', '14:10',
       '22:00', '04:00', '21:25', '21:50', '07:00', '07:05', '09:50',
       '14:35', '10:35', '15:05', '14:15', '06:45', '20:55', '11:10',
       '05:45', '19:00', '23:05', '11:00', '09:35', '21:15', '23:55',
       '19:45', '08:50', '15:40', '06:05', '15:00', '13:55', '05:55',
       '13:20', '05:05', '06:25', '17:30', '08:20', '19:55', '06:30',
       '14:05', '02:00', '09:40', '08:25', '20:25', '13:15', '02:15',
       '16:55', '20:45', '05:15', '19:50', '20:00', '06:10', '19:30',
       '04:45', '12:55', '18:15', '17:20', '15:25', '23:00', '12:00',
       '14:45', '11:50', '11:30', '14:40', '19:10', '06:00', '23:30',
       '07:35', '13:05', '12:30', '15:10', '12:50', '18:25', '16:30',
       '00:40', '06:50', '13:00', '19:15', '01:30', '17:00', '10:00',
       '19:35', '15:30', '12:10', '16:10', '20:35', '22:25', '21:05',
       '05:35', '05:10', '06:40', '15:15', '00:30', '08:30', '07:10',
       '05:30', '14:25', '05:25', '10:20', '17:45', '13:10', '22:10',
       '04:55', '17:50', '21:20', '06:20', '15:55', '20:30', '17:25',
       '09:30', '07:30', '02:35', '10:55', '17:10', '09:10', '18:45',
       '15:20', '22:50', '14:55', '14:20', '13:25', '22:15', '11:05',
       '16:15', '20:10', '06:55', '19:05', '07:55', '07:45', '10:10',
       '08:15', '11:35', '21:00', '17:55', '16:45', '18:20', '03:50',
       '08:35', '19:20', '20:05', '17:40', '04:40', '17:35', '09:55',
       '05:00', '18:00', '02:55', '20:40', '22:55', '22:40', '21:30',
       '08:10', '17:05', '07:25', '15:45', '09:15', '15:50', '11:45',
       '22:05', '18:35', '00:25', '19:40', '20:50', '22:45', '10:30',
       '23:25', '11:55', '10:45', '11:15', '12:20', '14:30', '07:15',
       '01:35', '18:40', '09:20', '21:55', '13:50', '01:40', '00:20',
       '04:15', '13:45', '18:30', '06:15', '02:05', '12:15', '13:30',
       '06:35', '10:05', '08:40', '03:05', '21:35', '16:35', '02:30',
       '16:25', '05:40', '15:35', '13:40', '07:20', '04:50', '12:45',
       '10:25', '12:05', '11:20', '21:40', '03:00', '22:30'], dtype=object)

In [31]:
df.isnull().sum()

Airline               0
Source                0
Destination           0
Route                 1
Dep_Time              0
Duration              0
Total_Stops           1
Additional_Info       0
Price              2671
Date                  0
Month                 0
Year                  0
Arrival_Hour          0
Arrival_Minutes       0
dtype: int64

In [32]:
# Departure time
df['Dep_Time'].apply(lambda x : x.split(':')[0]) # Departure Hours

0       22
1       05
2       09
3       18
4       16
        ..
2666    20
2667    14
2668    21
2669    04
2670    04
Name: Dep_Time, Length: 13354, dtype: object

In [33]:
df['Dep_Hour'] = df['Dep_Time'].apply(lambda x : x.split(':')[0])

In [34]:
# departure minutes
df['Dep_Time'].apply(lambda x : x.split(':')[1])

0       20
1       50
2       25
3       05
4       50
        ..
2666    30
2667    20
2668    50
2669    00
2670    55
Name: Dep_Time, Length: 13354, dtype: object

In [37]:
df['Dep_Minutes'] = df['Dep_Time'].apply(lambda x : x.split(':')[1])

In [38]:
df['Dep_Hour'] = df['Dep_Hour'].astype(int)
df['Dep_Minutes'] = df['Dep_Minutes'].astype(int)

In [39]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 13354 entries, 0 to 2670
Data columns (total 16 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          13354 non-null  object
 1   Source           13354 non-null  object
 2   Destination      13354 non-null  object
 3   Route            13353 non-null  object
 4   Dep_Time         13354 non-null  object
 5   Duration         13354 non-null  object
 6   Total_Stops      13353 non-null  object
 7   Additional_Info  13354 non-null  object
 8   Price            10683 non-null  float64
 9   Date             13354 non-null  int64
 10  Month            13354 non-null  int64
 11  Year             13354 non-null  int64
 12  Arrival_Hour     13354 non-null  int64
 13  Arrival_Minutes  13354 non-null  int64
 14  Dep_Hour         13354 non-null  int64
 15  Dep_Minutes      13354 non-null  int64
dtypes: float64(1), int64(7), object(8)
memory usage: 2.2+ MB

In [40]:
df.drop(['Dep_Time'],axis=1,inplace = True)

In [41]:
df.head(1)

,Airline,Source,Destination,Route,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year,Arrival_Hour,Arrival_Minutes,Dep_Hour,Dep_Minutes
0,IndiGo,Banglore,New Delhi,BLR → DEL,2h 50m,non-stop,No info,3897.0,24,3,2019,1,10,22,20

In [42]:
# total stops
df[df['Total_Stops'].isnull()]

,Airline,Source,Destination,Route,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year,Arrival_Hour,Arrival_Minutes,Dep_Hour,Dep_Minutes
9039,Air India,Delhi,Cochin,NaN,23h 40m,NaN,No info,7480.0,6,5,2019,9,25,9,45

In [43]:
df['Total_Stops'].unique()

array(['non-stop', '2 stops', '1 stop', '3 stops', nan, '4 stops'],
      dtype=object)

In [44]:
df['Total_Stops'] = df['Total_Stops'].map({'non-stop':0,
                                           '1 stop':1,
                                           '2 stops':2,
                                           '3 stops':3,
                                           '4 stops':4
                                          })

In [45]:
df['Total_Stops'].unique()

array([ 0.,  2.,  1.,  3., nan,  4.])

In [46]:
df['Total_Stops'] = df['Total_Stops'].fillna(1)

In [47]:
df.head()

,Airline,Source,Destination,Route,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year,Arrival_Hour,Arrival_Minutes,Dep_Hour,Dep_Minutes
0,IndiGo,Banglore,New Delhi,BLR → DEL,2h 50m,0.0,No info,3897.0,24,3,2019,1,10,22,20
1,Air India,Kolkata,Banglore,CCU → IXR → BBI → BLR,7h 25m,2.0,No info,7662.0,1,5,2019,13,15,5,50
2,Jet Airways,Delhi,Cochin,DEL → LKO → BOM → COK,19h,2.0,No info,13882.0,9,6,2019,4,25,9,25
3,IndiGo,Kolkata,Banglore,CCU → NAG → BLR,5h 25m,1.0,No info,6218.0,12,5,2019,23,30,18,5
4,IndiGo,Banglore,New Delhi,BLR → NAG → DEL,4h 45m,1.0,No info,13302.0,1,3,2019,21,35,16,50

In [48]:
df['Total_Stops'] = df['Total_Stops'].astype(int)

In [49]:
df.isnull().sum()

Airline               0
Source                0
Destination           0
Route                 1
Duration              0
Total_Stops           0
Additional_Info       0
Price              2671
Date                  0
Month                 0
Year                  0
Arrival_Hour          0
Arrival_Minutes       0
Dep_Hour              0
Dep_Minutes           0
dtype: int64

In [50]:
# dropping Route
df.drop(['Route'],axis = 1, inplace= True)

In [51]:
# Additional info column
df['Additional_Info'].unique()

array(['No info', 'In-flight meal not included',
       'No check-in baggage included', '1 Short layover', 'No Info',
       '1 Long layover', 'Change airports', 'Business class',
       'Red-eye flight', '2 Long layover'], dtype=object)

In [52]:
df.head(3)

,Airline,Source,Destination,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year,Arrival_Hour,Arrival_Minutes,Dep_Hour,Dep_Minutes
0,IndiGo,Banglore,New Delhi,2h 50m,0,No info,3897.0,24,3,2019,1,10,22,20
1,Air India,Kolkata,Banglore,7h 25m,2,No info,7662.0,1,5,2019,13,15,5,50
2,Jet Airways,Delhi,Cochin,19h,2,No info,13882.0,9,6,2019,4,25,9,25

In [53]:
df['Duration'].apply(lambda x : x.replace('h','').replace('m',''))

0        2 50
1        7 25
2          19
3        5 25
4        4 45
        ...
2666    23 55
2667     2 35
2668     6 35
2669    15 15
2670    14 20
Name: Duration, Length: 13354, dtype: object

In [54]:
df['Duration'].apply(lambda x : x.replace('h','')[0:2]) # duration in hours

0       2
1       7
2       19
3       5
4       4
        ..
2666    23
2667    2
2668    6
2669    15
2670    14
Name: Duration, Length: 13354, dtype: object

In [55]:
df[df['Duration']=='5m']

,Airline,Source,Destination,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year,Arrival_Hour,Arrival_Minutes,Dep_Hour,Dep_Minutes
6474,Air India,Mumbai,Hyderabad,5m,2,No info,17327.0,6,3,2019,16,55,16,50
2660,Air India,Mumbai,Hyderabad,5m,2,No info,NaN,12,3,2019,16,55,16,50

In [56]:
df.shape

(13354, 14)

In [57]:
# either replace 5 min or drop
# replace
# df.loc[2660, 'Duration'] = '1h 30m'
# df.loc[6474, 'Duration'] = '1h 30m'

In [58]:
# drop
df.drop(6474,axis=0,inplace=True)
df.drop(2660,axis=0,inplace=True)

In [59]:
df.tail(20)

,Airline,Source,Destination,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year,Arrival_Hour,Arrival_Minutes,Dep_Hour,Dep_Minutes
2650,Air India,Kolkata,Banglore,27h 5m,2,No info,NaN,9,5,2019,8,55,5,50
2651,Jet Airways,Kolkata,Banglore,12h 30m,1,In-flight meal not included,NaN,6,6,2019,22,5,9,35
2652,Jet Airways,Banglore,New Delhi,14h 20m,1,No info,NaN,12,3,2019,13,15,22,55
2653,Jet Airways,Kolkata,Banglore,6h 5m,1,In-flight meal not included,NaN,18,5,2019,22,35,16,30
2654,Air India,Delhi,Cochin,24h 40m,1,No info,NaN,3,3,2019,7,40,7,0
2655,Multiple carriers,Delhi,Cochin,9h 20m,1,In-flight meal not included,NaN,24,6,2019,21,0,11,40
2656,Jet Airways,Kolkata,Banglore,12h 10m,1,In-flight meal not included,NaN,12,5,2019,9,20,21,10
2657,Multiple carriers,Delhi,Cochin,14h 20m,1,No info,NaN,6,6,2019,19,15,4,55
2658,Jet Airways,Delhi,Cochin,21h 10m,1,In-flight meal not included,NaN,15,6,2019,19,0,21,50
2659,Jet Airways,Delhi,Cochin,7h 5m,2,In-flight meal not included,NaN,15,6,2019,12,35,5,30
2661,Jet Airways,Delhi,Cochin,33h 15m,2,No info,NaN,27,3,2019,4,25,19,10
2662,Air India,Mumbai,Hyderabad,1h 30m,0,No info,NaN,21,5,2019,15,25,13,55
2663,GoAir,Kolkata,Banglore,8h 15m,1,No info,NaN,12,5,2019,7,45,23,30
2664,Multiple carriers,Delhi,Cochin,10h 15m,1,No info,NaN,15,6,2019,1,30,15,15
2665,SpiceJet,Mumbai,Hyderabad,1h 30m,0,No check-in baggage included,NaN,21,6,2019,0,15,22,45
2666,Air India,Kolkata,Banglore,23h 55m,1,No info,NaN,6,6,2019,20,25,20,30
2667,IndiGo,Kolkata,Banglore,2h 35m,0,No info,NaN,27,3,2019,16,55,14,20
2668,Jet Airways,Delhi,Cochin,6h 35m,1,No info,NaN,6,3,2019,4,25,21,50
2669,Air India,Delhi,Cochin,15h 15m,1,No info,NaN,6,3,2019,19,15,4,0
2670,Multiple carriers,Delhi,Cochin,14h 20m,1,No info,NaN,15,6,2019,19,15,4,55

In [60]:
# duration in minutes
df['Duration'].apply(lambda x : x.replace('h','').replace('m','')[2:5]).head(20)

0      50
1      25
2
3      25
4      45
5      25
6      30
7       5
8      30
9      50
10     15
11     35
12     15
13     10
14     35
15     35
16     30
17     35
18
19     35
Name: Duration, dtype: object

In [61]:
df['Duration'].tail(10)

2661    33h 15m
2662     1h 30m
2663     8h 15m
2664    10h 15m
2665     1h 30m
2666    23h 55m
2667     2h 35m
2668     6h 35m
2669    15h 15m
2670    14h 20m
Name: Duration, dtype: object

In [62]:
df['Duration'].apply(lambda x : x.replace('h','').replace('m',''))

0        2 50
1        7 25
2          19
3        5 25
4        4 45
        ...
2666    23 55
2667     2 35
2668     6 35
2669    15 15
2670    14 20
Name: Duration, Length: 13351, dtype: object

In [63]:
# covert duration into minutes
df['Duration_hour'] = df['Duration'].apply(lambda x : x.replace('h','')[0:2])
df

,Airline,Source,Destination,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year,Arrival_Hour,Arrival_Minutes,Dep_Hour,Dep_Minutes,Duration_hour
0,IndiGo,Banglore,New Delhi,2h 50m,0,No info,3897.0,24,3,2019,1,10,22,20,2
1,Air India,Kolkata,Banglore,7h 25m,2,No info,7662.0,1,5,2019,13,15,5,50,7
2,Jet Airways,Delhi,Cochin,19h,2,No info,13882.0,9,6,2019,4,25,9,25,19
3,IndiGo,Kolkata,Banglore,5h 25m,1,No info,6218.0,12,5,2019,23,30,18,5,5
4,IndiGo,Banglore,New Delhi,4h 45m,1,No info,13302.0,1,3,2019,21,35,16,50,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2666,Air India,Kolkata,Banglore,23h 55m,1,No info,NaN,6,6,2019,20,25,20,30,23
2667,IndiGo,Kolkata,Banglore,2h 35m,0,No info,NaN,27,3,2019,16,55,14,20,2
2668,Jet Airways,Delhi,Cochin,6h 35m,1,No info,NaN,6,3,2019,4,25,21,50,6
2669,Air India,Delhi,Cochin,15h 15m,1,No info,NaN,6,3,2019,19,15,4,0,15
2670,Multiple carriers,Delhi,Cochin,14h 20m,1,No info,NaN,15,6,2019,19,15,4,55,14

In [64]:
df['Duration_min'] = df['Duration'].apply(lambda x : x.replace('h','').replace('m','')[2:5])

In [65]:
df.head(20)

,Airline,Source,Destination,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year,Arrival_Hour,Arrival_Minutes,Dep_Hour,Dep_Minutes,Duration_hour,Duration_min
0,IndiGo,Banglore,New Delhi,2h 50m,0,No info,3897.0,24,3,2019,1,10,22,20,2,50
1,Air India,Kolkata,Banglore,7h 25m,2,No info,7662.0,1,5,2019,13,15,5,50,7,25
2,Jet Airways,Delhi,Cochin,19h,2,No info,13882.0,9,6,2019,4,25,9,25,19,
3,IndiGo,Kolkata,Banglore,5h 25m,1,No info,6218.0,12,5,2019,23,30,18,5,5,25
4,IndiGo,Banglore,New Delhi,4h 45m,1,No info,13302.0,1,3,2019,21,35,16,50,4,45
5,SpiceJet,Kolkata,Banglore,2h 25m,0,No info,3873.0,24,6,2019,11,25,9,0,2,25
6,Jet Airways,Banglore,New Delhi,15h 30m,1,In-flight meal not included,11087.0,12,3,2019,10,25,18,55,15,30
7,Jet Airways,Banglore,New Delhi,21h 5m,1,No info,22270.0,1,3,2019,5,5,8,0,21,5
8,Jet Airways,Banglore,New Delhi,25h 30m,1,In-flight meal not included,11087.0,12,3,2019,10,25,8,55,25,30
9,Multiple carriers,Delhi,Cochin,7h 50m,1,No info,8625.0,27,5,2019,19,15,11,25,7,50
10,Air India,Delhi,Cochin,13h 15m,1,No info,8907.0,1,6,2019,23,0,9,45,13,15
11,IndiGo,Kolkata,Banglore,2h 35m,0,No info,4174.0,18,4,2019,22,55,20,20,2,35
12,Air India,Chennai,Kolkata,2h 15m,0,No info,4667.0,24,6,2019,13,55,11,40,2,15
13,Jet Airways,Kolkata,Banglore,12h 10m,1,In-flight meal not included,9663.0,9,5,2019,9,20,21,10,12,10
14,IndiGo,Kolkata,Banglore,2h 35m,0,No info,4804.0,24,4,2019,19,50,17,15,2,35
15,Air India,Delhi,Cochin,26h 35m,2,No info,14011.0,3,3,2019,19,15,16,40,26,35
16,SpiceJet,Delhi,Cochin,4h 30m,1,No info,5830.0,15,4,2019,13,15,8,45,4,30
17,Jet Airways,Delhi,Cochin,22h 35m,1,In-flight meal not included,10262.0,12,6,2019,12,35,14,0,22,35
18,Air India,Delhi,Cochin,23h,2,No info,13381.0,12,6,2019,19,15,20,15,23,
19,Jet Airways,Delhi,Cochin,20h 35m,1,In-flight meal not included,12898.0,27,5,2019,12,35,16,0,20,35

In [66]:
df['Duration_min'] = df['Duration_min'].replace('',00)

In [67]:
df.tail(20)

,Airline,Source,Destination,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year,Arrival_Hour,Arrival_Minutes,Dep_Hour,Dep_Minutes,Duration_hour,Duration_min
2650,Air India,Kolkata,Banglore,27h 5m,2,No info,NaN,9,5,2019,8,55,5,50,27,5
2651,Jet Airways,Kolkata,Banglore,12h 30m,1,In-flight meal not included,NaN,6,6,2019,22,5,9,35,12,30
2652,Jet Airways,Banglore,New Delhi,14h 20m,1,No info,NaN,12,3,2019,13,15,22,55,14,20
2653,Jet Airways,Kolkata,Banglore,6h 5m,1,In-flight meal not included,NaN,18,5,2019,22,35,16,30,6,5
2654,Air India,Delhi,Cochin,24h 40m,1,No info,NaN,3,3,2019,7,40,7,0,24,40
2655,Multiple carriers,Delhi,Cochin,9h 20m,1,In-flight meal not included,NaN,24,6,2019,21,0,11,40,9,20
2656,Jet Airways,Kolkata,Banglore,12h 10m,1,In-flight meal not included,NaN,12,5,2019,9,20,21,10,12,10
2657,Multiple carriers,Delhi,Cochin,14h 20m,1,No info,NaN,6,6,2019,19,15,4,55,14,20
2658,Jet Airways,Delhi,Cochin,21h 10m,1,In-flight meal not included,NaN,15,6,2019,19,0,21,50,21,10
2659,Jet Airways,Delhi,Cochin,7h 5m,2,In-flight meal not included,NaN,15,6,2019,12,35,5,30,7,5
2661,Jet Airways,Delhi,Cochin,33h 15m,2,No info,NaN,27,3,2019,4,25,19,10,33,15
2662,Air India,Mumbai,Hyderabad,1h 30m,0,No info,NaN,21,5,2019,15,25,13,55,1,30
2663,GoAir,Kolkata,Banglore,8h 15m,1,No info,NaN,12,5,2019,7,45,23,30,8,15
2664,Multiple carriers,Delhi,Cochin,10h 15m,1,No info,NaN,15,6,2019,1,30,15,15,10,15
2665,SpiceJet,Mumbai,Hyderabad,1h 30m,0,No check-in baggage included,NaN,21,6,2019,0,15,22,45,1,30
2666,Air India,Kolkata,Banglore,23h 55m,1,No info,NaN,6,6,2019,20,25,20,30,23,55
2667,IndiGo,Kolkata,Banglore,2h 35m,0,No info,NaN,27,3,2019,16,55,14,20,2,35
2668,Jet Airways,Delhi,Cochin,6h 35m,1,No info,NaN,6,3,2019,4,25,21,50,6,35
2669,Air India,Delhi,Cochin,15h 15m,1,No info,NaN,6,3,2019,19,15,4,0,15,15
2670,Multiple carriers,Delhi,Cochin,14h 20m,1,No info,NaN,15,6,2019,19,15,4,55,14,20

In [68]:
# the tow columns Duration_hour and Duration_min are in object dtype
# we have to convert them into integer dtype
# so that we can perform arithmetic operations on them

In [69]:
df[df['Duration_hour']=='5m']

Empty DataFrame
Columns: [Airline, Source, Destination, Duration, Total_Stops, Additional_Info, Price, Date, Month, Year, Arrival_Hour, Arrival_Minutes, Dep_Hour, Dep_Minutes, Duration_hour, Duration_min]
Index: []

In [70]:
df.shape

(13351, 16)

In [71]:
df['Duration_hour'].unique()

array(['2 ', '7 ', '19', '5 ', '4 ', '15', '21', '25', '13', '12', '26',
       '22', '23', '20', '10', '6 ', '11', '8 ', '16', '3 ', '3', '27',
       '1 ', '5', '14', '9 ', '18', '17', '24', '30', '8', '28', '29',
       '37', '9', '4', '34', '7', '38', '35', '36', '47', '6', '33', '32',
       '31', '42', '39', '41', '40'], dtype=object)

In [72]:
df['Duration_hour'] = df['Duration_hour'].astype(int)
df['Duration_min'] = df['Duration_min'].astype(int)

In [73]:
df

,Airline,Source,Destination,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year,Arrival_Hour,Arrival_Minutes,Dep_Hour,Dep_Minutes,Duration_hour,Duration_min
0,IndiGo,Banglore,New Delhi,2h 50m,0,No info,3897.0,24,3,2019,1,10,22,20,2,50
1,Air India,Kolkata,Banglore,7h 25m,2,No info,7662.0,1,5,2019,13,15,5,50,7,25
2,Jet Airways,Delhi,Cochin,19h,2,No info,13882.0,9,6,2019,4,25,9,25,19,0
3,IndiGo,Kolkata,Banglore,5h 25m,1,No info,6218.0,12,5,2019,23,30,18,5,5,25
4,IndiGo,Banglore,New Delhi,4h 45m,1,No info,13302.0,1,3,2019,21,35,16,50,4,45
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2666,Air India,Kolkata,Banglore,23h 55m,1,No info,NaN,6,6,2019,20,25,20,30,23,55
2667,IndiGo,Kolkata,Banglore,2h 35m,0,No info,NaN,27,3,2019,16,55,14,20,2,35
2668,Jet Airways,Delhi,Cochin,6h 35m,1,No info,NaN,6,3,2019,4,25,21,50,6,35
2669,Air India,Delhi,Cochin,15h 15m,1,No info,NaN,6,3,2019,19,15,4,0,15,15
2670,Multiple carriers,Delhi,Cochin,14h 20m,1,No info,NaN,15,6,2019,19,15,4,55,14,20

In [74]:
df['Duration_hour'] = df['Duration_hour']*60
df

,Airline,Source,Destination,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year,Arrival_Hour,Arrival_Minutes,Dep_Hour,Dep_Minutes,Duration_hour,Duration_min
0,IndiGo,Banglore,New Delhi,2h 50m,0,No info,3897.0,24,3,2019,1,10,22,20,120,50
1,Air India,Kolkata,Banglore,7h 25m,2,No info,7662.0,1,5,2019,13,15,5,50,420,25
2,Jet Airways,Delhi,Cochin,19h,2,No info,13882.0,9,6,2019,4,25,9,25,1140,0
3,IndiGo,Kolkata,Banglore,5h 25m,1,No info,6218.0,12,5,2019,23,30,18,5,300,25
4,IndiGo,Banglore,New Delhi,4h 45m,1,No info,13302.0,1,3,2019,21,35,16,50,240,45
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2666,Air India,Kolkata,Banglore,23h 55m,1,No info,NaN,6,6,2019,20,25,20,30,1380,55
2667,IndiGo,Kolkata,Banglore,2h 35m,0,No info,NaN,27,3,2019,16,55,14,20,120,35
2668,Jet Airways,Delhi,Cochin,6h 35m,1,No info,NaN,6,3,2019,4,25,21,50,360,35
2669,Air India,Delhi,Cochin,15h 15m,1,No info,NaN,6,3,2019,19,15,4,0,900,15
2670,Multiple carriers,Delhi,Cochin,14h 20m,1,No info,NaN,15,6,2019,19,15,4,55,840,20

In [75]:
df['Duration_Minutes'] = df['Duration_hour'] + df['Duration_min']

In [76]:
df

,Airline,Source,Destination,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year,Arrival_Hour,Arrival_Minutes,Dep_Hour,Dep_Minutes,Duration_hour,Duration_min,Duration_Minutes
0,IndiGo,Banglore,New Delhi,2h 50m,0,No info,3897.0,24,3,2019,1,10,22,20,120,50,170
1,Air India,Kolkata,Banglore,7h 25m,2,No info,7662.0,1,5,2019,13,15,5,50,420,25,445
2,Jet Airways,Delhi,Cochin,19h,2,No info,13882.0,9,6,2019,4,25,9,25,1140,0,1140
3,IndiGo,Kolkata,Banglore,5h 25m,1,No info,6218.0,12,5,2019,23,30,18,5,300,25,325
4,IndiGo,Banglore,New Delhi,4h 45m,1,No info,13302.0,1,3,2019,21,35,16,50,240,45,285
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2666,Air India,Kolkata,Banglore,23h 55m,1,No info,NaN,6,6,2019,20,25,20,30,1380,55,1435
2667,IndiGo,Kolkata,Banglore,2h 35m,0,No info,NaN,27,3,2019,16,55,14,20,120,35,155
2668,Jet Airways,Delhi,Cochin,6h 35m,1,No info,NaN,6,3,2019,4,25,21,50,360,35,395
2669,Air India,Delhi,Cochin,15h 15m,1,No info,NaN,6,3,2019,19,15,4,0,900,15,915
2670,Multiple carriers,Delhi,Cochin,14h 20m,1,No info,NaN,15,6,2019,19,15,4,55,840,20,860

In [77]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 13351 entries, 0 to 2670
Data columns (total 17 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Airline           13351 non-null  object
 1   Source            13351 non-null  object
 2   Destination       13351 non-null  object
 3   Duration          13351 non-null  object
 4   Total_Stops       13351 non-null  int64
 5   Additional_Info   13351 non-null  object
 6   Price             10681 non-null  float64
 7   Date              13351 non-null  int64
 8   Month             13351 non-null  int64
 9   Year              13351 non-null  int64
 10  Arrival_Hour      13351 non-null  int64
 11  Arrival_Minutes   13351 non-null  int64
 12  Dep_Hour          13351 non-null  int64
 13  Dep_Minutes       13351 non-null  int64
 14  Duration_hour     13351 non-null  int64
 15  Duration_min      13351 non-null  int64
 16  Duration_Minutes  13351 non-null  int64
dtypes: float64(1), int64(11), object(5)
memory usage: 1.8+ MB

In [78]:
df.drop(['Duration','Duration_hour','Duration_min'],axis=1,inplace=True)

In [79]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 13351 entries, 0 to 2670
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Airline           13351 non-null  object
 1   Source            13351 non-null  object
 2   Destination       13351 non-null  object
 3   Total_Stops       13351 non-null  int64
 4   Additional_Info   13351 non-null  object
 5   Price             10681 non-null  float64
 6   Date              13351 non-null  int64
 7   Month             13351 non-null  int64
 8   Year              13351 non-null  int64
 9   Arrival_Hour      13351 non-null  int64
 10  Arrival_Minutes   13351 non-null  int64
 11  Dep_Hour          13351 non-null  int64
 12  Dep_Minutes       13351 non-null  int64
 13  Duration_Minutes  13351 non-null  int64
dtypes: float64(1), int64(9), object(4)
memory usage: 1.5+ MB

In [80]:
df['Airline'].unique()
# we can apply label encoding or one hot encoding here

array(['IndiGo', 'Air India', 'Jet Airways', 'SpiceJet',
       'Multiple carriers', 'GoAir', 'Vistara', 'Air Asia',
       'Vistara Premium economy', 'Jet Airways Business',
       'Multiple carriers Premium economy', 'Trujet'], dtype=object)

In [81]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [82]:
df['Airline'] = le.fit_transform(df['Airline'])
df['Source'] = le.fit_transform(df['Source'])
df['Destination'] = le.fit_transform(df['Destination'])
df['Additional_Info'] = le.fit_transform(df['Additional_Info'])

In [83]:
df.shape

(13351, 14)

In [84]:
df.head()

,Airline,Source,Destination,Total_Stops,Additional_Info,Price,Date,Month,Year,Arrival_Hour,Arrival_Minutes,Dep_Hour,Dep_Minutes,Duration_Minutes
0,3,0,5,0,8,3897.0,24,3,2019,1,10,22,20,170
1,1,3,0,2,8,7662.0,1,5,2019,13,15,5,50,445
2,4,2,1,2,8,13882.0,9,6,2019,4,25,9,25,1140
3,3,3,0,1,8,6218.0,12,5,2019,23,30,18,5,325
4,3,0,5,1,8,13302.0,1,3,2019,21,35,16,50,285